<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="layout_user :: head">
</head>
<body class="main-layout">
<header th:replace="layout_user :: header"></header>

<script src="https://accounts.google.com/gsi/client" async defer></script>
<div id="g_id_onload" data-client_id="<?php echo CLIENT_ID?>"
     data-ux_mode="popup" data-login_uri="<?php echo CLIENT_REDIRECT?>">
</div>
<div class="g_id_signin" data-type="standard"></div>

<footer th:replace="layout_user :: footer"></footer>
</body>
</html>