<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head th:replace="layout_user :: head">
</head>
<body class="main-layout">
<header th:replace="layout_user :: header"></header>

<script src="https://accounts.google.com/gsi/client" async defer></script>
<div id="g_id_onload" data-client_id="365062625571-oipgvhgr69fn34i2hahqdk1483hdqllg.apps.googleusercontent.com"
     data-ux_mode="popup" data-login_uri="http://localhost:8080/user/checkAccountLoginGoogle">
</div>
<div class="g_id_signin" data-type="standard"></div>

<footer th:replace="layout_user :: footer"></footer>
</body>
</html>